* {
  box-sizing: border-box; }

/*insert custom css below*/
* {
  font-family: arial, verdana, sans-sarif;}
  
body {
background-color: rgb(200,200,200);}

h2 {
  font-family: "Arial Black", Gadget, sans-sarif;}

div {
width: 490px;
padding: 50px;
border: 20px solid #99ccff;
margin: 10px auto 10px auto;
text-align: left;}

* {
  margin: 10px auto 10px auto;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration:none;
}
